/.vs/DemoFlowListView/v14/*.suo
/DemoFlowListView/DemoFlowListView/bin
/DemoFlowListView/DemoFlowListView/obj
/DemoFlowListView/DemoFlowListView.Droid/obj
/DemoFlowListView/DemoFlowListView.Droid/bin
/packages
